<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.voyah.ai.window" >

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application>

        <activity android:name=".WindowStudyActivity"
            android:exported="true"/>

        <service
            android:name=".FloatingWindowService"
            android:enabled="true"
            android:exported="true"/>

    </application>

</manifest>