<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jie.databinding">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DataBindingStudy">
        <activity
            android:name=".CollectionActivity"
            android:exported="false" />
        <activity
            android:name=".BindingAdapterConversionActivity"
            android:exported="false" />
        <activity
            android:name=".ViewStubActivity2"
            android:exported="false" />
        <activity
            android:name=".InclueViewStubActivity"
            android:exported="false" />
        <activity
            android:name=".OperatorActivity"
            android:exported="false" />
        <activity
            android:name=".ClassMethodActivity"
            android:exported="false" />
        <activity
            android:name=".EventBindingActivity"
            android:exported="false" />
        <activity
            android:name=".BothWayBindingActivity"
            android:exported="false" />
        <activity
            android:name=".ObservableCollectionActivity"
            android:exported="false" />
        <activity
            android:name=".ObservableFieldActivity"
            android:exported="false" />
        <activity
            android:name=".BaseObservableActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>